<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">


      <div class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched"
        [class.has-success]="fullNameControl.valid">
        <label for="fullName" class="control-label">Full Name</label>
        <input id="fullName" placeholder="Name" required type="text" class="form-control" name="fullName" [(ngModel)]="fullName"
          #fullNameControl="ngModel">
        <span class="co" *ngIf="fullNameControl.invalid">
          Full Name is required
        </span>
      </div>

      <div  class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched"
      [class.has-success]="fullNameControl.valid">
        <label for="email"  class="control-label">Email</label>
        <input id="email" placeholder="xyz@gmail.com" required type="text" class="form-control" name="email" [(ngModel)]="email">
        <span class="co" *ngIf="fullNameControl.invalid">
          Email is required
        </span>
      </div>

      <div class="form-group" class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched"
      [class.has-success]="fullNameControl.valid">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber"  placeholder="0000-0000000"required type="text" class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber">
        <span class="co" *ngIf="fullNameControl.invalid">
          Phone number is required
        </span>
      </div>
      <div class="form-group" class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched"
      [class.has-success]="fullNameControl.valid">
        <label for="phoneNumber">Address</label>
        <input id="phoneNumber" placeholder="Defence " required type="text" class="form-control" name="phoneNumber" [(ngModel)]="phoneNuadmber">
        <span class="co" *ngIf="fullNameControl.invalid">
          Phone number is required
        </span>
      </div>

      <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="email" [(ngModel)]="contactPreference">
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="phone" [(ngModel)]="contactPreference">
            Phone
          </label>
        </div>


      </div>

      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" value="male" [(ngModel)]="gender" checked>
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" value="female" [(ngModel)]="gender">
            Female
          </label>
        </div>
      </div>


      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="isActive">Is Active
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="department">Department</label>
        <select id="department" name="department" [(ngModel)]="department" class="form-control">
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{dept.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" type="date" class="form-control" />
      </div>

      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input id="photoPath" type="text" class="form-control" name="photoPath" [(ngModel)]="photoPath">
      </div>

      <div class="form-group">
        <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto" />
      </div>

      <div class="form-group">
        <button (click)="togglePhotoPreview()" class="btn btn-primary">
          {{previewPhoto ? "Hide " : "Show " }} Preview
        </button>
      </div>

    </div>
    <div align="right"  class="panel-footer">
      <button (click) = "onClick($event)" [disabled]="employeeForm.invalid" class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Save</button>
    </div>
  </div>

</form>


{{employeeForm.value | json}}