.imageClass{
    width:200px;
    height:200px;
}
.vertical-align{
    display: flex;
    align-items: center;
}

.panel-primary{
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.panel-heading{
    background-color: #008AFF;
    width: 10%;
    border-radius: 20px;
    text-align: center;
  

}
/* .panel-body{
    background-color: rgb(243, 4, 4);

} */