
<div style="background-color:rgb(255, 255, 255);height: 800px;">
  <div class="form_container">
    <form  class="example-form" [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <header>LOGIN</header>

      <mat-form-field class="example-full-width">

        <input  matInput type="text"  placeholder="Enter Name" name="uname" formControlName="uname" />
      </mat-form-field>



      <mat-form-field class="example-full-width">

        <input  matInput type="password" placeholder="Enter Password" name="passwd" formControlName="passwd" />
      </mat-form-field>

      <div class="mat">  
            <button   mat-stroked-button color="warn" value="Login">Login</button>
      </div>
    </form>
  </div>
</div>

