/* .navbar-nav{
    background-color: #FFFFFF;
    width: 100%;
} */

/* .navbar{
    color: rgb(151, 12, 12);
    background-color: rgb(181, 181, 245);
}
 */
 /* .navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
} */

.navbar-nav{
    color: aliceblue;
}